In [1]:
for i in [1,2,3,"Praveen",5]:
	print("Hello")

Hello
Hello
Hello
Hello
Hello

In [2]:
for i in [1,2,3,"Praveen",5]:
	print(i)

1
2
3
Praveen
5

In [4]:
set1 = {1,2,3,4,5,2,1,4}
for j in set1:
    print(j)

1
2
3
4
5

In [5]:
set1 = [3,5,7,9,11,12]
for j in set1:
    print(j)

1
2
3
4
5
2
1
4

In [8]:
for ch in "Python Programming":
    print("Test")
    print(ch)

Test
P
Test
y
Test
t
Test
h
Test
o
Test
n
Test

Test
P
Test
r
Test
o
Test
g
Test
r
Test
a
Test
m
Test
m
Test
i
Test
n
Test
g

In [11]:
for k in range(5):  #[0,1,2,3,4]
    print(k)

0
1
2
3
4

In [12]:
for k in range(10,20): #[10,11,12,13...19]
    print(k)

10
11
12
13
14
15
16
17
18
19

In [13]:
for k in range(10,20,2): #[10,12,14,16,18]
    print(k)

10
12
14
16
18

In [15]:
for k in range(10,1,-1):
    print(k)

10
9
8
7
6
5
4
3
2

In [22]:
student = {
    "name":"John",
    "age": 21,
    "course":"Python",
    "isMarried":False
}
#student['name']-->John
for key in student:
    print(key, "---",student[key])

name --- John
age --- 21
course --- Python
isMarried --- False

In [23]:
for i in range(3):#[0,1,2]
    for j in range(3): #[0,1,2]
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [25]:
for i in range(3):
    print("Hello")
else:
    print("After for loop")

Hello
Hello
Hello
After for loop

In [26]:
def greeting():
    print("Hello Welcome to Python Programing")
    print("Python is best lang to develop")

In [27]:
greeting()

Hello Welcome to Python Programing
Python is best lang to develop

In [42]:
def greeting(name=" "):
    print("Hello , ", name, " Welcome to Python Programing")
    print("Python is best lang to develop")

In [43]:
greeting("praveen")

Hello ,  praveen  Welcome to Python Programing
Python is best lang to develop

In [30]:
greeting("kumar")

Hello ,  kumar  Welcome to Python Programing
Python is best lang to develop

In [44]:
greeting()

Hello ,     Welcome to Python Programing
Python is best lang to develop

In [58]:
def wishes(name,city, state="None"):
    print("Hello ", name , " welcome to ", city, "and you belongs to ",state)

In [46]:
wishes("praveen","Hyderabad")

Hello  praveen  welcome to  Hyderabad

In [47]:
wishes("Hyderabad","Praveen")

Hello  Hyderabad  welcome to  Praveen

In [50]:
wishes(city="Hyderabad", name="Praveen")

Hello  Praveen  welcome to  Hyderabad and you belongs to  None

In [52]:
wishes(city="Chennai",name=["hyderabad",'praveen'])

Hello  ['hyderabad', 'praveen']  welcome to  Chennai and you belongs to  None

In [57]:
wishes("Praveen","Hyderabad")

NameError: name 'state' is not defined

In [67]:
def show_numbers(*nos):
    for i in nos:
        print(i)

In [68]:
show_numbers(10) # [10]

10

In [62]:
show_numbers(10,20) #[10,20]

10
20

In [63]:
show_numbers(10,20,30)

10
20
30

In [64]:
show_numbers(10,20,30,40,50)

10
20
30
40
50

In [69]:
def show_numbers_list(*nos):
    print(nos)

In [73]:
show_numbers_list(10,20,30)

(10, 20, 30)

In [91]:
def greet(message1,message2, *names, city="Hyderabad"):
    for name in names:
        print(f"{message1} and {message2} to {name} and welcome to {city}")

In [92]:
greet("Hello","ravi","suresh","priya")

Hello and ravi to suresh and welcome to Hyderabad
Hello and ravi to priya and welcome to Hyderabad

In [93]:
student = {
    "name":"John",
    "age": 21,
    "course":"Python",
    "isMarried":False
}

In [96]:
def show_student_details(**kwargs):
    print("Student Details")
    for key,value in kwargs.items():
        print(f"{key} ---> {value}")

In [101]:
show_student_details(name="praveen",age=48,course="python",duration=20,fee=24000)

Student Details
name ---> praveen
age ---> 48
course ---> python
duration ---> 20
fee ---> 24000

In [102]:
def factorial(n):
    fact=1
    if n == 1 or n == 0 :
        return 1
    else:
        for i in range(2,n+1):
            fact = fact * i
        return fact

In [103]:
factorial(5)

120

In [104]:
factorial(1)

1

In [105]:
factorial(0)

1

In [107]:
def isOdd(n):
    if n%2 == 0:
        return False
    else:
        return True

In [108]:
print(isOdd(4))

False

In [109]:
print(isOdd(5))

True

In [110]:
def isPrime(n):
    prime=True
    for i in range(2,n):
        if n%i == 0:
            prime = False
            break
    return prime

In [111]:
isPrime(4)

False

In [112]:
isPrime(5)

True

In [113]:
isPrime(11)

True

In [114]:
isPrime(14)

False

In [3]:
a = 3
b = 0
c = a/b
print(c)
print("After the c value is printed")

ZeroDivisionError: division by zero

In [5]:
try:
    a = 3
    b = 2
    c = a/b
    print(c)
    print("After the c value is printed")
except ZeroDivisionError:
    print("You have entered 0 for denominator please enter again ")
    a = int(input("Enter a new a value"))
    b = int(input("Enter a new b value not zero"))
    c = a/b
    print("The division is ", c)
finally:
    print("Inside the finally block")

1.5
After the c value is printed
Inside the finally block

In [13]:
try:
    a = 3
    b = int("0")
    data = [1,2,3,4]
    print(data[5])
    c = a/b
    print(c)
    print("After the c value is printed")
except ZeroDivisionError:
    print("You have entered 0 for denominator please enter again ")
    a = int(input("Enter a new a value"))
    b = int(input("Enter a new b value not zero"))
    c = a/b
    print("The division is ", c)
except ValueError:
    print("Bad conversion")
    print("Please enter a proper value")
except Exception:
    print("Something happend please re check your code")
finally:
    print("Inside the finally block")

2
Something happend please re check your code
Inside the finally block